$change-me: #7DC6CC;
$change-me2: #A8636E;
$change-me3: #EDCE67;

/* ================================= 
  Base Element Styles
==================================== */

/* font-family: 'Dosis', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Quicksand', sans-serif;
*/

* {
  box-sizing: border-box;
}
html, body, .wrapper {
    height: 100vh;
    height: 100%;

  /*only works in IE with height set to 100vh (min-height doesn't work) */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
}



body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
  color: #3a3a3a;
  margin: 0;
  background: lighten($change-me, 40%);
}

nav {}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.name {
  font-size: 1.5em;
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
  color: #fff;
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav a {
  font-size: 1em;
  color: #3acec2;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #A8636E;
}


/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: black;
}

.banner,
.main-footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #3acec2;
  padding: 9em;
  margin-bottom: 48px;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.main-footer {
  background: #3acec2;
  padding: 2em 0;
  margin-top: 30px;
}


/* ---- Page Elements ---- */

.logo {
  width: 190px;
}

.headline {
  margin-bottom: 0;
}

.tagline {
  font-size: 1.4em;
}

.feat-img {
  border-radius: 5px;
}


/* GENERAL STYLES FOR BOX, HOVER, AND OVERLAY */

.card {
  font-size: .90em;
  display: block;
  border-radius: 6px;
  margin: 15px;
  width: 95%;
  height: 180px;
  overflow: hidden;
  background-color: $change-me2;
  text-align: center;
  position: relative;
  transition: .25s linear;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  h1 {
    font-weight: 500;
    color: white;
  }
  h2{
    font-size: 0em;
    opacity: 0;
    margin: -5%;
  }
  h3 {
    opacity: 0;
    font-weight: bold;
  }
  p {
    opacity: 1;
    font-size: 1.5em;
  }

}

.card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25), -1px 6px 6px rgba(0, 0, 0, 0.50);
  background: lighten($change-me, 35%);
  font-size: 1.2em;
  transform: translateY(-20%);
  h1 {
    font-size: .01em;
    transition: .75s ease-out;
  }
  h2 {
      margin: 5%;
      font-size: 1em;
      opacity:1;
      font-weight: 700;
      color: rgba($change-me, .75);
      text-shadow:
      1px 2px 60px lighten($change-me, 15%),
      0px 0px 0px darken($change-me, 55%),
      0px 0px 2px lighten($change-me, 50%);
      transition: .15s ease-in;
  }
  p {
    opacity: 0;
    font-weight: 700;
    color: rgba($change-me, .75);
    text-shadow:
    1px 2px 60px lighten($change-me, 15%),
    0px 0px 0px darken($change-me, 70%),
    0px 0px 30px lighten($change-me, 50%);
    transition: .1s ease-in;
  }
  h3, a {
    opacity: 1;
    font-weight: 400;
    color: rgba($change-me2, .75);
    text-shadow:
    1px 2px 60px lighten($change-me2, 15%),
    0px 0px 0px darken($change-me2, 70%),
    0px 0px 30px lighten($change-me2, 50%);
    transition: .15s ease-in;
  }

}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .main-header {
    width: 100%;
    position: fixed;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25), -1px 6px 6px rgba(0, 0, 0, 0.50);
    z-index: 2;
    background-color: black;
  }
.main-nav a {
  font-size: 1.2em;
  }

  .banner {
    padding: 12em;
  }
  .row {
    max-width: 100vw;
    margin: 0 auto;
  }
  .tagline {
    font-size: 1.85em;

  }
}
@media (min-width: 1025px) {
  .main-header {
    width: 100%;
    position: fixed;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25), -1px 6px 6px rgba(0, 0, 0, 0.50);
    z-index: 2;
    background-color: black;
  }
  .banner {
    padding: 16em;
  }
.main-nav a {
  font-size: 1.5em;
  }
  .tagline {
    font-size: 2.5em;
    font-weight: thin;
  }
}



/********************************
PAGE: ABOUT
********************************/

.profile-photo {
  display: block; /* margin auto will center a block element with it's own space on the page. Am img defaults inline so we could text-align center but this limits our flexibility when building the desktop version */
  max-width: 150px; /* keeps img a specified size can decrease but not increase */
  margin: 0 auto 30px; /* top 0 l-r auto bottom 30px */
  border-radius: 30px; /* 100% creates the circle */
}

/********************************
PAGE: CONTACT
********************************/

.contact-info {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block; /* each anchor element gains some space */
  min-height: 20px; /* no shorter than 20px */
  background-repeat: no-repeat; /* not required with the icons used but stops any image from repeating */
  background-size: 20px 20px; /* resizes background. an image that resizes down will look sharper than scaled up */
  padding: 0 0 0 30px; /* pushes text over to the right */
  margin: 0 0 10px; /* allows for some seperation vertically */
}
/*
.contact-info li.phone a {
  background-image: url(''); /* used google fonts instead of images 
}
 */

/* started with a mobile first */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header,
  /* grouping main-nav with main-header switches main-nav from being a flex item to a flex container */
  .main-nav,
  .row,
  nav,
  ul/* new container added for col */
  {
    display: flex;
  }
  .main-header {
   flex-direction: column;
    /*  stacked nav and header */
    align-items: center;
    order: -1;
  }

  .col {
    /* new rule for col */
    flex: 1 50%;
    /* primary col was too big and secondary col was too narrow...now they are equal width */
    /* after adding the third col we set a 50% flex-basis and wrapped the row below */
  }
  .row {
    flex-wrap: wrap;
    /* for multi line and tertiary to break below */
  }
  .secondary {
    order: -1;
    /* primary content col is now centered on screens above 769px  */
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    /* header and nav on the same line */
    justify-content: space-between/* aligns name to the left and main-nav to the right and add extra space inbetween */
  }
  .col {
    flex-basis: 0;
    /* three col layout on 1025px or wider */
  }
  .primary {
    flex: 2;
    /* for the larger breakpoint we doubled the space taken from the primary col */
    flex-grow: 1.4;
    /* slightly larger primary at three col layout */
  }
}